<template>
  <div class="index">
    <!-- {{$store.state.username}} -->
    <el-container style="height:100vh;">
      <el-aside width="210" style="background: #001529">
        <el-menu background-color="#001529" text-color="#999" active-text-color="#fff" :router="true" :default-active="defaultActive" style="height:100vh;width:210px; box-sizing:border-box">
            <h3 id="title">后台管理</h3>
          <el-submenu v-for="item in menus" :key="item.id"  style="background:#001529" :index="''+item.id">
            <template slot="title">
              <i v-if="item.path=='users'" class="el-icon-message"></i>
              <i v-if="item.path=='rights'" class="el-icon-s-grid"></i>
              <i v-if="item.path=='goods'" class="el-icon-s-comment"></i>
              <i v-if="item.path=='orders'" class="el-icon-camera"></i>
              <i v-if="item.path=='reports'" class="el-icon-picture-outline-round"></i>
              {{item.authName}}
            </template>
              <el-menu-item v-for="_item in item.children" :key="_item.id" :index="'/index/'+_item.path">{{_item.authName}}</el-menu-item>
          </el-submenu>
        </el-menu>
      </el-aside>

      <el-container>
        <el-header style="text-align: right; font-size: 12px border-bottom:1px solid #ddd;" >
          <el-dropdown>
            <i class="el-icon-setting" style="margin-right: 15px"></i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="logOut">退出</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <span>{{$store.state.username}}</span>
        </el-header>

        <el-main>
          <!-- <el-table :data="tableData">
            <el-table-column prop="date" label="日期" width="140"></el-table-column>
            <el-table-column prop="name" label="姓名" width="120"></el-table-column>
            <el-table-column prop="address" label="地址"></el-table-column>
          </el-table> -->
          <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>
<script>
import {getMenus} from "../http/api"
import{mapMutations} from 'vuex'
export default {
     data() {
      return {
        // tableData: Array(20).fill(item),
        menus:[],
        defaultActive:this.$route.path
      }
    },
    methods:{
      //获取左侧菜单权限列表
      ...mapMutations([
        'resetState'
      ]),
        getMenus(){
            return getMenus().then(res=>{
                // console.log(res)
                this.menus=res
            })
        },
        logOut(){
          localStorage.clear()
          this.resetState()
          this.$router.push({
            name:'login'
          })
          
        }
    },
    watch:{
      '$route'(){
        // console.log(this,$route)
        this.defaultActive=this.$route.path
      }
    },
    created(){
        this.getMenus()
    }
};
</script>
<style lang="scss" scoped>
    .index{
        #title{
            height: 60px;
            line-height: 60px;
            text-align: center;
            color: #ffffff;
        }
    }
    .el-header {
    line-height: 60px;
  }
  .el-main{
    padding: 15px;
    box-sizing: border-box;
    background: #eeeeee;
  }
</style>