<template>
  <div class="login">
    <div class="login-form-wrap">
      <h3 class="login-h3">欢迎登陆</h3>
      <div class="login-form">
        <el-form ref="login-form" :model="form" class="demo-form-inline" :rules="rules" size="small">
          <el-form-item prop="username">
            <el-input v-model="form.username" placeholder="用户名">
              <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input type="password" v-model="form.password" placeholder="密码">
              <el-button slot="prepend" icon="el-icon-lock"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-button class="login-form-btn" type="primary" @click="login">登录</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>
<script>
import { login } from "../http/api";
export default {
  data() {
    return {
      form: {
        username: "",
        password: ""
      },
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" }
        ],
        password: [{ required: true, message: "请输入密码", trigger: "blur" }]
      }
    };
  },
  methods: {
    // ...mapMutations({
    //   setToken:'setToken',
    //   setUsername:'setUsername'
    // }),
    //登录
     login() {
      this.$refs['login-form'].validate(async  (valid) =>{
        try{
          if(valid){
          login().then().catch()
          const { token, username } = await login(this.form);
        this.$message({
          showClose: true,
          message: "欢迎回来" + username,
          type: "success"
        });
        this.$store.commit("setUsername",username)
        this.$store.commit("setToken",token)
      
      this.$router.replace({
        name: "index"
      });
        }else{
          return false
        }
        }catch(err){
          
        }
        
      })
    }
  }
};
</script>
<style lang="scss" scoped>
.login {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg)
    center center no-repeat;
  background-size: cover;
  .login-form-wrap {
    width: 300px;
    margin-right: 160px;
    background: white;
    border-radius: 15px;
    box-sizing: border-box;
    .login-h3 {
      padding: 15px;
      box-sizing: border-box;
      border-bottom: 1px solid #dddddd;
      font-weight: 800;
    }
    .login-form {
      padding: 15px;
      box-sizing: border-box;
      .login-form-btn {
        width: 100%;
      }
    }
  }
}
</style>